<ion-view view-title="Meeting">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
		<img src="{{meeting.creator.face}}">
        <h3>{{meeting.startTime| date: "yyyy-MM-dd HH:mm"}} - {{meeting.endTime| date: "HH:mm"}}</h3>
        <h2>{{meeting.name}}</h2>
        <p>{{meeting.creator.name}}</p>
		
      </div>
      <div class="item">
			<p>
				<i class="ion-ios-location"></i>
				{{meeting.location}}
			</p>
	  </div>
      <div class="item item-body">
        <p>{{meeting.description}}</p>
      </div>
      
      <div class="item row">
		  <div class="tab-item item-body col-33" ng-click="setStatus(0)">
			  <i class="icon ion-close-circled" style="color:{{ColorNotGoing}}"></i>
			  Not going
		  </div>
		  <div class="tab-item item-body col-33" ng-click="setStatus(1)">
			  <i class="icon big ion-help-circled" style="color:{{ColorNotSure}}"></i>
			  Not sure
		  </div>
		  <div class="tab-item item-body col-33" ng-click="setStatus(2)">
			  <i class="icon ion-checkmark-circled" style="color:{{ColorGoing}}"></i>
			  Going
		  </div>
	  </div>
      <div class="item row">
		  <div class="tab-item item-body col-33">
		  </div>
		  <div class="tab-item item-body col-33" ng-click="needARidePressed()">
			  <i class="icon ion-android-car" style="color:{{ColorNeedARide}}"></i>
			  Need a ride
		  </div>
	  </div>
	  
    </div>
  </ion-content>
</ion-view>