.color-blue, 
.button-plus{
	color: #387EF5;
}

.button-plus{
	font-size: 70px;
    position: absolute;
    right: 30px;
    bottom: 70px;
}
.button-photo{
	font-size: 70px;
    position: absolute;
    right: 15%;
    top: 220px;
}

.photo-settings{
  border-radius:100%;
  width:240px;
  display: block;
  margin: auto;
  margin-bottom:25px;
}

.position-bottom-center{
    position: absolute;
    right:0;
    bottom: 30;
    border-style: solid;
    border-top-width: 1px;
    background-size: 0;
    line-height: 49px;
}
.platform-android .bar-subheader{
  top:93px;
}

ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}