.color-blue, 
.button-plus{
	color: #387EF5;
}

.button-plus{
	font-size: 70px;
    position: absolute;
    right: 30px;
    bottom: 70px;
}
.settings-photo-div{
  width:240px;
  margin: auto;
}
.settings-photo{
  border-radius:100%;
  border-width: 15px;
  display: block;
  width:100%;
}
.button-photo{
	font-size: 70px;
    position: relative;
    right: -180px;
    top: -75px;
}

.position-bottom-center{
    position: absolute;
    right:0;
    bottom: 30;
    border-style: solid;
    border-top-width: 1px;
    background-size: 0;
    line-height: 49px;
}
.platform-android .bar-subheader{
  top:93px;
}
.peopleCount{
	font-size: 14px;
	color:gray;
}
.rowPeopleCount{
	margin-bottom:0px;
}

ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}